@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-uneven-gradient {
    position: relative;
    min-height: 100vh;
    background-color: #353B47; /* Base background color */
    overflow: hidden;
  }
  
  .bg-uneven-gradient::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -10%;
    width: 100px;
    height: 200px;
    background: rgba(53, 178, 235, 0.5); /* Blue pop color */
    filter: blur(100px); /* Blur to create uneven softness */
    z-index: 1;
  }
  
  .bg-uneven-gradient::after {
    content: '';
    position: absolute;
    bottom: -20%;
    right: -15%;
    width: 200px;
    height: 300px;
    background: rgba(53, 178, 235, 0.3); /* Another pop of blue */
    filter: blur(150px); /* Different blur intensity */
    z-index: 1;
  }
  
  .blob1, .blob2, .blob3 {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    filter: blur(150px);
    z-index: 0;
  }
  
  .blob1 {
    top: 50%;
    left: 20%;
    width: 500px;
    height: 500px;
  }
  
  .blob2 {
    top: 20%;
    right: 30%;
    width: 400px;
    height: 600px;
  }
  
  .blob3 {
    bottom: 10%;
    left: 40%;
    width: 100px;
    height: 200px;
  }
  